<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Temporary Password</title>
  </head>
  <body>
    <h1>
      {{name}}, please reset your temporary password
    </h1>

    <p>
      You received this email because you forget you Vitae password.
    </p>
    <p>
      Do not share this password to anyone
    </p>
    <p>
      {{password}}
    </p>
  </body>
</html>