<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vitae: Accepted Payment</title>
  </head>
  <body>
    <h1>
      {{name}}, your payment has been rejected.
    </h1>

    <p>
      You received this email because your payment has been rejected for
      {{event_name}}.
    </p>
    <div>
      Please check details below:
      <ul style="list-style-type: none;">
        <li>
          Reason: Your payment proof has been denied due to low quality image
        </li>

      </ul>
    </div>
    <p>
      Regards,
    </p>
    <p>
      Vitae Team
    </p>
  </body>
</html>